$orange: #f0561d;
$yellow: #fbb92f;
$ltOrange: #fbb92f;
$ltGray: #cccccc;
$lterGray: #f4f4f4;
$gray: #94a4a6;
$dkGray: #54616f;
$dkerGray: #313943;

$openSans:'Open Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;